<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jayvaghela.loginregister">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.UI.UserAreaActivity" />
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.Welcome" />
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.UI.UserSearch" />
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.Requests.Results" />
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.UI.UserProfileActivity" />
        <activity android:name=".app.src.main.java.com.example.jayvaghela.loginregister.UI.UpdateDetailsActivity"></activity>
    </application>

</manifest>